<h3>Please enter the ISBN and/or CSV file you wish to have checked.</h3>


<form action="/home" method="post">
  <input type="text" name="isbn" pattern = "[-xX0-9\s]{1,26}" required><br><br>
  <input id="files" type="file" name="csv_file" accept=".csv"><br><br>
  <input id="buttons" type = "submit" value = "Submit"><br><br>
  <button id="buttons" type = "reset" value = "Reset">Restart</button>
</form>
