<% if result %>
Your number was: <%= isbn.join("") %><br><br>
<%= result %><br><br>
<% else %>
<p>Invalid</p>
<% end %>


<input id="buttons" type = "button" value = "Check Another Number" onClick = "location.href='/'">
